#test
{
	text-align: center;
	color:#FFFFFF;
	background-image: url('climate-change-2254711_1920.jpg');
	padding-bottom: 125px;
	padding-top: 125px;

}
#title
{
	font-size: 50px;
	margin-bottom: 0;
}
#subtitle
{
	font-size:10px;
	margin-top: 0;

}
.left
{
	float: left;
	width: 800px;
}
.right
{
	float: right;
	width: 350px;
}
#ul
{
	color: #FFFFFF;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;

}